* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman'; 
    text-align: center;
}

h1 {
    font-size: 35px;
}

.container {
    margin: 275px auto;
    max-width: 640px;
    width: 100%;
    color: #495057;
}

form {
    margin-top: 10px;
}

input, textarea {
    display: block;
    padding: 8px;
    margin-bottom: 8px;
    width: 100%;
    resize: none;
    font-size: 18px;
    color: #6c757d;
    font-weight: bold;
}

button {
    display: inline;
    padding: 8px;
    margin-bottom: 8px;
    width: 15%;
    resize: none;
    font-size: 20px;
    color: #6c757d;
    font-weight: bold;
    background-color: #6c757d;
    border: none;
    color: #fff;
    cursor: pointer;
}

button:hover {
    background-color: #adb5bd;
}

.success-message {
    background-color: #52b788;
    padding: 8px;
    color: #fff;
    display: none;
    font-size: 20px;
}

.error-message {
    margin-top: 8px;
    padding: 8px;
    font-weight: bold;
    background-color: #e5383b;
    color: #fff;
    margin-bottom: 8px;
    display: none;
    font-size: 18px;
}